@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var token = ViewBag.Token;
}
<div style="width: 50%; margin: auto;" class="card login-form">
    <div class="card-body">
        <h3 class="card-title text-center">Reset Password</h3>

        <div class="card-text">
            <form id="reset-password-form">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" id="newPassword" class="form-control form-control-sm" placeholder="Enter your new password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" class="form-control form-control-sm" placeholder="Confirm your new password" required>
                </div>
                <input type="hidden" id="token" value="@token" />

                <button style="margin-top: 10px;" type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </form>

            <!-- Alert Messages -->
            <div id="alertMessage" style="margin-top: 15px;" class="alert" role="alert" style="display:none;"></div>
        </div>
    </div>
</div>

<script>
    document.getElementById('reset-password-form').addEventListener('submit', async function (event) {
        event.preventDefault(); // Prevent default form submission behavior

        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        const token = document.getElementById('token').value;

        try {
            const response = await fetch('http://localhost:5000/api/Account/reset-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    token: token,
                    newPassword: newPassword,
                    confirmPassword: confirmPassword
                })
            });

            const alertMessage = document.getElementById('alertMessage');

            if (response.ok) {
                alertMessage.textContent = "Password reset successful.";
                alertMessage.classList.remove('alert-danger');
                alertMessage.classList.add('alert-success');
            } else {
                alertMessage.textContent = "Failed to reset password. Please try again.";
                alertMessage.classList.remove('alert-success');
                alertMessage.classList.add('alert-danger');
            }
            alertMessage.style.display = 'block';
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script>
