
<div class="container text-center">
    <h1>Hệ thống quản lý trường học</h1>
    <p>Chào mừng bạn đến với hệ thống quản lý trường học. Vui lòng chọn một chức năng để tiếp tục.</p>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quản lý Môn học</h5>
                    <p class="card-text">Đăng kí môn học, xem môn học.</p>
                    <a href="/RegisterSubject/RegisterSubject" class="btn btn-primary">Quản lý Môn học</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thông tin cá nhân</h5>
                    <p class="card-text">Bổ sung, xem thông tin cá nhân</p>
                    <a href="/Profile/Index" class="btn btn-primary">Thông tin cá nhân</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Điểm Cá Nhân</h5>
                    <p class="card-text">Xem điểm cá nhân</p>
                    <a href="/StudentGrade/Index" class="btn btn-primary">Điểm cá nhân</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quản lý Lớp học</h5>
                    <p class="card-text">Thêm, sửa, xóa và xem danh sách lớp học.</p>
                    <a href="/Classes" class="btn btn-primary">Quản lý Lớp học</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quản lý Môn học</h5>
                    <p class="card-text">Thêm, sửa, xóa và xem danh sách môn học.</p>
                    <a href="/Subjects" class="btn btn-primary">Quản lý Môn học</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Đăng nhập</h5>

                    <a href="/Account/Login" class="btn btn-primary">Quản lý Môn học</a>
                </div>
            </div>
        </div>
    </div>
</div>



