@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var subjects = ViewData["sList"] as List<SubjectDTO>;
}
<table>
    <thead>
        <tr>
            <th>Subject ID</th>
            <th>Subject Name </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SubjectDTO s in subjects)
        {
            <tr>

                <td>@s.subjectId</td>
                <td>@s.name</td>
                <td>
                    <div>
                        <a asp-controller="StudentGrade" asp-action="CheckGrade" asp-route-id="@s.subjectId" title="Edit">Check Grade</a>
                        
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

